body {
  background-image: url("../images/desktop-8.png");
  background-size: cover;
  background-position: 50% -50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
 
  text-align: center;
}
