.load-more {
  width: 200px;
  height: 50px;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  background-color: var(--background-color-button-search);
  border: none;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    border: 2px solid var(--accent-color);
    box-shadow: none;
    transition: 0.4s;
  }
}
