:root {
  --box-shadow: 0px 0px 10px 7px #4169e1;
  --background-color-button-search: seashell;
  --accent-color: #4169e1;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Grandstander", cursive;

  background-image: url("../src/images/desktop-8.png");
  background-size: cover;
  background-position: 50% -50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-form__input {
  width: 500px;
  height: 50px;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  background-color: var(--background-color-button-search);
  border: none;
  box-shadow: var(--box-shadow);
}

.search-form__input:hover,
.search-form__input:focus {
  border: 2px solid var(--accent-color);
  box-shadow: none;
  transition: 0.4s;
  cursor: pointer;
}

.search-form__btn {
  width: 200px;
  height: 50px;
  padding: 10px;
  margin-left: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  background-color: var(--background-color-button-search);
  border: none;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.search-form__btn:hover {
  border: 2px solid var(--accent-color);
  box-shadow: none;
  transition: 0.4s;
}

.btn {
  width: 200px;
  height: 50px;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  background-color: var(--background-color-button-search);
  border: none;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: 0.4s;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 10px;
}

.photo-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.photo-card {
  padding: 5px;
  margin: 15px;
  width: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-card img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.photo-card img:hover {
  transform: scale(1.02);
}

.photo-card:nth-child(4n) {
  margin-right: 0;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.stats-item {
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

.material-icons {
  display: flex;
  justify-content: center;
}
/* ===== */

/*  Styles for bascLightBox */
/* .basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
}

.basicLightbox--visible {
  opacity: 1;
}

.basicLightbox__placeholder {
  max-width: 100%;
  transform: scale(0.9);
  transition: transform 0.4s ease;
  z-index: 1;
  will-change: transform;
}

.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}

.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  pointer-events: auto;
}

.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  width: auto;
  height: auto;
}

.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.basicLightbox--visible .basicLightbox__placeholder {
  transform: scale(1);
} */
